body {
font-family: 'Lato', sans-serif;
padding-top: 70px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
}
h1, h2, h3, h4, h5, h6 {
color: gray;
}
h1 { font-size: 20pt; }
h2 { font-size: 17pt; }
h3 {
font-family: Verdana, arial, tahoma, sans-serif;
}
.navbar-inverse .nav li a .glyphicon {
color: #808080;
}
* {
  border-radius: 0 !important;
}  
.collapse .nav li .btn {
	border:none;
	background-color: inherit;
}

.navbar-fixed-top .nav {
    padding: 15px 0;
}

.navbar-fixed-top .navbar-brand {
    padding: 0 15px;
}

@media(min-width:768px) {
    body {
        padding-top: 100px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
    }

    .navbar-fixed-top .navbar-brand {
        padding: 15px 0;
    }
}

#logo{
    height: 300%;
    width: auto;
}


section.parallax {
height: 600px;
 background-position: 50% 50%;
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-size: cover;
}
.parallax-1 {
 background-image: url("../images/bg1.jpg");
}

.jumbotron {
    position: relative;
    background: #000 url("../images/bg4.jpg") center center;
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
}

#intro { 
    background: url(file:///C:/Users/Medi/Desktop/ZPSB/Daniel/technologie%20hipertekstowe/strona%20internetowa/images/bg4.jpg) 50% 0 fixed; 
    height: auto;  
    margin: 0 auto; 
    width: 100%; 
    position: relative; 
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
    padding: 100px 0;
}
#home { 
    background: url(images/home.jpg) 50% 0 fixed; 
    height: auto;  
    margin: 0 auto; 
    width: 100%; 
    position: relative; 
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
    padding: 200px 0;
}
#about { 
    background: url(images/about.png) 50% 0 fixed; 
    height: auto;
    margin: 0 auto; 
    width: 100%; 
    position: relative; 
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
    padding: 100px 0;
    color: #fff;
}