body {
font-family: 'Lato', sans-serif;
padding-top: 70px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
}
h1, h2, h3, h4, h5, h6 {
color: gray;
}
h1 { font-size: 20pt; }
h2 { font-size: 17pt; }
h3 {
font-family: Verdana, arial, tahoma, sans-serif;
}
.navbar-inverse .nav li a .glyphicon {
color: #808080;
}
* {
  border-radius: 0 !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}  
.collapse .nav li .btn {
	border:none;
	background-color: inherit;
}

.navbar-fixed-top .nav {
    padding: 15px 0;
}

.navbar-fixed-top .navbar-brand {
    padding: 0 15px;
}

@media(min-width:768px) {
    body {
        padding-top: 100px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
    }

    .navbar-fixed-top .navbar-brand {
        padding: 15px 0;
    }

}


section.parallax {
height: 600px;
 background-position: 50% 50%;
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-size: cover;
}
.parallax-1 {
 background-image: url("../images/bg1.jpg");
}

.jumbotron {
    position: relative;
    background: #000 url("../images/bg13.jpg") center;
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
    margin-bottom: 0px !important;
}


section.parallax {
height: 600px;
 background-position: 50% 50%;
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-size: cover;
}
.parallax-1 {
 background-image: url("../images/bg7.jpg");
}
.parallax-2 {
 background-image: url("../images/bg12.jpg");
}
.parallax-3 {
 background-image: url("../images/bg5.jpg");
}
.parallax-4 {
 background-image: url("../images/bg7.jpg");
}


.gallery {
    color: #888;
}

.gallery h2 {
    color: #ccc;
}

.gallery small {
    color: #666;
}

.gallery .tags > div {
    margin: 0 4px;
}

.gallery .image {
    height: 60vh;
    padding: 10px;
    background: #000;
    border: 1px solid #333;
    text-align: center;
    margin: 10px 0;
    position: relative;
    overflow: hidden;

}

.gallery .image img {
    height: 100%;
    margin: 0 auto;
}

.gallery .image .image-title {
    position: absolute;
    left: 0;
    right: 0;
    padding: 8px;
    text-align: center;
    background: rgba(0,0,0,0.5);
    color: #fff;
    font-size: 14px;
    bottom: 10px;
}

.gallery .thumbnails {
    display: flex;
    flex-direction: row;
}
.gallery .thumbnails > div {
    margin: 2px;
}

.gallery-box {
    display: flex;
    flex-direction: row;
}

.gallery-container {
    flex: 1;
}

.comments-container {
    width: 300px;

}

.comments-container input,
.comments-container textarea {
    width: 100%;
}

.comment {
    background: #282b2f;
    border: 1px solid #444;
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
}

.comment small {
    font-size: 12px;
}

.comment button {
    float: right;
}