<div>

    <div class="container">
        <center><h3 class="animated infinite pulse">Galeria</h3></center>
        <center><h4>ilość galerii: {{galleries.length}}</h4></center>
    </div>
    <label>Sortuj:</label>
    <select ng-model="orderProp" ng-options="sort as sort.label for sort in sortList">
        <option value="title">Alfabetycznie</option>
        <option value="when">Chronologicznie</option>
        <option value="-when">Od Najnowszego</option>
    </select>
    <h5 style="color:white" ng-if="orderProp">Galerie ułożone: {{orderProp.label}}</h5>
    <label>Wyszukaj:</label><input ng-model="query">
    <h5 style="color:white;" ng-if="query">Wyszukana fraza: {{query}}</h5>
    <h5 style="color:white;" ng-if="!query">Wyszukana fraza: brak wyszukania</h5>
    <div class="container">
        <div class="row">
            <div class="col-sm-4 gallery-listing" ng-repeat="gallery in galleries | filter:query |  orderBy: orderProp.value">

                <a href="#/galleries/{{gallery.id}}">
                    <img class="img-responsive" src="{{gallery.thumbnailUrl}}">
                </a>
                <h5><a href="#/galleries/{{gallery.id}}">{{gallery.title}}</a></h5>
                <p><h6><strong>Opis:</strong> {{gallery.opis}}</h6></p>
                <p><h6><strong>Data utworzenia: </strong> {{gallery.when}}</h6></p>
            </div>
        </div>
    </div>


</div>
