<div class="container gallery">

    <div>
        <h2>{{ gallery.title }}</h2>
        <div><small>
            {{ gallery.when | date: 'EEE' | weekDay }},
            {{ gallery.when | date: 'dd' }}
            {{ gallery.when | date: 'M' | monthName }}
            {{ gallery.when | date: 'yyyy' }}

        </small></div>
        <p>{{ gallery.desc }}</p>

        <div class="tags">
            <div ng-repeat="tag in gallery.tags" class="badge">{{ tag }}</div>
        </div>

        <div class="gallery-box">
            <div class="gallery-container">
                <div class="image">
        <span  class="big-image {{ imgClassName }}" >
            <img ng-src="{{ loadedPhoto.photoUrl }}"/>
            <div class="image-title">{{ loadedPhoto.photoTitle }}</div>
        </span>
                </div>

                <div class="thumbnails">
                    <div ng-repeat="photo in gallery.photos" style="width: {{ (100 / gallery.photos.length) }}%">
                        <a href="" ng-click="loadPhoto(photo)">
                            <img ng-src="{{ photo.thumbnailUrl }}" alt="{{ photo.photoTitle }}" class="img-thumbnail">
                        </a>
                    </div>
                </div>
            </div>

            <div class="container comments-container" ng-controller="CommentsCtrl">

                <form role="form" ng-submit="addComment(gallery.id)">
                    <div class="form-group">
                        <div>Komentarze:</div>
                        <div>
                            <textarea ng-model="comment.info" rows="4" placeholder="Napisz coś fajnego"></textarea>
                        </div>
                        <div>
                            <input type="text" ng-model="comment.author" placeholder="Przedstaw się">
                        </div>
                    </div>
                    <input type="submit" value="Zapisz">
                </form>

                <div>

                    <div class="comment" ng-repeat="comment in myComments()">
                        <button ng-click="removeComment($index)">usuń</button>
                        <div>{{comment.info}}</div>
                        <div><small>{{comment.author}}, {{comment.date | date: 'yyyy-MM-dd HH:mm:ss' }}</small></div>

                    </div>

                    <button ng-if="myComments().length" ng-click="clearComments()">usuń wszystkie</button>


                </div>
            </div>
        </div>

    </div>



</div>

